.card {
    transition: translate ease-in-out 100ms, box-shadow
    ease-in-out 100ms;
    text-decoration: none;
    height: 100%
}

.card:hover,
.card:focus {
    translate: 0, -5px;
    box-shadow: 0 5px 8 px 0 rbga(0, 0, 0, .2);
}